<div class="w3-container">
	    
		<div class="col-md-10 col-md-offset-1 main" >
		<div class="col-md-6 left-side">
		<h3>MIMAR</h3>
		<p>A Associação MIMAR é uma Instituição de Solidariedade Social

                que criou um novo Centro de Acolhimento Temporário -
                
                CASA MIMAR - para crianças em perigo, dos 0 aos 6 anos,
                
                sem família natural conhecida ou que tenham sido por ela
                
                abandonadas ou retiradas por decisão judicial.</p>
        <br>
        <div class="w3-container">
            <img src="http://diretorio.sector3.pt/Repository/Images/Logos/3f736a31-c1fd-47d2-88e5-c5e7b74bf8e0.jpg" height="250" width="250" class="center" alt="mimar logo failed">
        </div>
		</div><!--col-sm-6-->
		
		<div class="col-md-6 right-side">
		<h3>Registar</h3>
		
<!--Form with header-->
<div class="form">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input
                            type="text"
                            id="nome"
                            class="form-control"
                            formControlName="nome">
                </div>
                <div class="form-group">
                    <label for="idade">Idade</label>
                    <input
                            type="text"
                            id="idade"
                            class="form-control"
                            formControlName="idade"
                            maxlength="2">
                </div>
                <div class="form-group">
                        <label for="estatuto">Estatuto</label>
                        <select  type="text" id="estatuto" class="form-control" formControlName="estatuto">
                          <option> </option>
                          <option>Diretor(a)</option>
                          <option>Cuidador(a)</option>
                          <option>Deus(a)</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="text"
                            id="email"
                            class="form-control"
                            formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            formControlName="password">
                </div>
                <button
                style="background-color: black; font-size: 18px;"
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Registar</button>
        
                <a href="/auth/signin" class="btn btn-link" style="color: black">Cancelar</a>
            </form>
</div>
<!--/Form with header-->

		</div><!--col-sm-6-->
		
		
        </div><!--col-sm-8-->
        
        </div><!--container-->


<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');


#playground-container {
    height: 500px;
    overflow: hidden !important;
    
}
.main{margin-top:70px; 
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
padding:0px;
background: #00A0AF;
}
.fb:focus, .fb:hover{color:FFF !important;}
body{
font-family: 'Raleway', sans-serif;
}

.left-side{
	padding:0px 0px 0px;
	height: 550px;
	background-size:cover;
}
.left-side h3{
	font-size: 30px;
    font-weight: 900;
	color:#FFF;
	padding: 50px 10px 00px 26px;
	}
	
	.left-side p{
    font-weight:700;
	color:#FFF;
	padding:10px 10px 10px 26px;
	}

	
	.fb{background: #2d6bb7;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
	margin-left:26px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
	.tw{background: #20c1ed;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
	
	.right-side{
	padding:0px 0px 0px;
	background:#FFF;
	background-size:cover;
    min-height:514px;
    height: 550px;
}
	.right-side h3{
	font-size: 30px;
    font-weight: 700;
	color:#000;
	padding: 50px 10px 00px 50px;
	}
	.right-side p{
    font-weight:600;
	color:#000;
	padding:10px 50px 10px 50px;
	}
	.form{padding:10px 50px 10px 50px;}
    .form-control{box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #2196f3 !important;
    border-top: 1px !important;
    border-left: none !important;
    border-right: none !important;}
	.btn-deep-purple {
    background: #2196f3;
    border-radius: 18px;
    padding: 5px 19px;
    color: #FFF;
    font-weight: 600;
    float: right;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>
