<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <!-- Log out button -->

  <!-- Sidebar LEFT -->
  <div class="w3-sidebar w3-bar-block w3-collapse" style="display: none; background: #00A0AF; padding: 5px; width: 15%; position: fixed; left: 0;" id="mySidebar">
    <h3 class="w3-bar-item">
        <img class="logo" src="http://localhost:3000/images/favicon.jpeg" alt="mimar" style="width: 60%; height: 60%; margin-left: 30px; margin-top: 15px">
    </h3>
    <a href="/registaCrianca" class="w3-bar-item w3-button w3-hover-orange w3-panel w3-border w3-round-xlarge
    " style="padding-top: 30px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 10; font-size: 1.2em; color: white; text-align: center;">Registar Criança</a> 
    <a href="/registaAtividade" class="w3-bar-item w3-button w3-hover-orange w3-panel w3-border w3-round-xlarge
    " style="padding-top: 30px; padding-bottom: 30px; margin-top: 5px; margin-bottom: 10; font-size: 1.2em; color: white; text-align: center;">Registar Actividade</a>
    <a href="/registaOcorrencia" class="w3-bar-item w3-button w3-hover-orange w3-panel w3-border w3-round-xlarge
    " style="padding-top: 30px; padding-bottom: 30px; margin-top: 5px; margin-bottom: 10; font-size: 1.2em; color: white; text-align: center;">Registar Ocorrência</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-orange w3-panel w3-border w3-round-xlarge
    " style="padding-top: 30px; padding-bottom: 30px; margin-top: 5px; margin-bottom: 10; font-size: 1.2em; color: white; text-align: center;">Visualizar Histórico</a>
  </div>

  <!-- Sidebar RIGHT -->
  <div class="w3-sidebar w3-bar-block w3-collapse" style="display: none; background: #00A0AF; padding: 5px; width: 15%; position: fixed; right: 0;" id="mySidebar">    
      
    <div style="text-align: center">

    <button class="btn btn-danger" (click)="onLogout()">Logout</button>

    <h3 style="color: white; text-align: center;">
       Bem Vindo!
      </h3>


    </div>
  </div>


  <!-- Page content -->
  <div class="w3-container" style="width: 60%; height: 80%; position: fixed; margin: auto; overflow: auto; margin-top: 2%; margin-left: 10%; margin-right: 15%; margin-bottom: 15%">
    <ul class="w3-ul w3-card-4" style="background-color: white;">
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
  
      <li class="w3-bar">
        <img src="http://localhost:3000/images/boy.png" class="w3-bar-item w3-circle w3-hide-small" alt="Boy" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Mike</span><br>
          <span>Web Designer</span>
        </div>
      </li>
    </ul>
  </div>

  <!-- Footer -->
  <footer style="width: 60%; height: 12%; position: fixed; bottom: 0; background-color: #00A0AF; color: white; margin: auto; margin-left: 11%; font-size: 13px;">
   <div class="w3-row w3-row-padding" style="display:inline-block; margin-top: 2%; ">
     <div class="w3-quarter w3-mobile">
       <p>Email:</p>
       <p><a href="mailto:someone@example.com">mimar@mimar.pt</a></p>
     </div>
     <div class="w3-quarter w3-mobile">
       <p>CASA MIMAR</p>
       <p>Praceta de Santa Catarina n.º 25</p>
     </div>
     <div class="w3-quarter w3-mobile">
       <p>Powered By:</p>
       <p>Associação Mimar</p>
     </div>
     <div class="w3-quarter w3-mobile">
        <a href="https://www.facebook.com/Associa%C3%A7%C3%A3o-Mimar-184127956290/">
          <img class="facebook" src="http://localhost:3000/images/facebook.png" alt="facebook" style="width: 30px; height: 30px;">
        </a>
     </div>
    </div>
  </footer>
</html>

